<ul>
  <li><%= link_to "Get my code reviewed", new_review_path %></li>
  <li><%= link_to "My in-progress reviews", reviews_path %></li>
  <li><%= link_to "Review other folks' code", pending_reviews_path %></li>
</ul>