<h1>levelup</h1>

<p><em>Level up your programming skills</em></p>

<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Log in", new_user_session_path %>

<%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path %>
